.container {
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto; }

.navbar {
  padding: 0; }

.header__content .navbar .nav-link {
  padding: 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8em; }

a:hover {
  text-decoration: none; }

ul, li {
  list-style-type: none; }

.btnTabula {
  position: relative;
  z-index: 2;
  background-color: #b61984;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-size: 0% 0%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50px;
  border: #b61984 solid 1px;
  padding: 1.05em 1.45em;
  box-shadow: 0 0 0 1px #b61984 inset;
  margin: 6px;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease; }
  .btnTabula:hover {
    color: #b61984;
    font-size: 0.9rem;
    font-weight: 500; }
  .btnTabula::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #ffffff;
    border-radius: 50px;
    transition: all 0.2s ease;
    transform: scaleX(0.7) scaleY(0); }
  .btnTabula:hover::after {
    transform: scale(1); }

header#myHeader {
  position: fixed;
  width: 100%;
  z-index: 4;
  transition: all 0.3s ease; }
  header#myHeader .logo {
    z-index: 2;
    flex: 1 0 29.4%; }
    header#myHeader .logo img {
      width: 80px;
      height: 80px; }
  header#myHeader .nav-link {
    color: #181818;
    font-size: 13px;
    font-weight: 600;
    line-height: 60px; }
  header#myHeader .header__content {
    z-index: 2; }
  header#myHeader .header__content .navbar .nav-link {
    padding-right: 50px; }
  header#myHeader .header__content .navbar .nav-item.last__item .nav-link {
    padding-right: 0; }
  header#myHeader .header__contact {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: 50px;
    line-height: 1;
    flex-shrink: 0; }
    header#myHeader .header__contact .btnTabula i {
      padding-right: 0.2rem; }
    header#myHeader .header__contact .contact__icon i {
      color: #181818;
      font-size: 0.9em;
      font-weight: inherit;
      transition: all 0.3s ease; }
      header#myHeader .header__contact .contact__icon i:hover {
        color: #b61984;
        font-size: 0.9em;
        font-weight: inherit; }
    header#myHeader .header__contact .contact__icon {
      margin-left: 0.8em; }

.bg__header__top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3; }

#myHeader.active .logo {
  display: none; }
#myHeader.active .header__inner {
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(204, 204, 204, 0.5); }
#myHeader.active .header__content {
  justify-content: end; }
#myHeader.active .btnTabula {
  padding-top: 0.8em;
  padding-bottom: 0.8em; }
#myHeader.active li a {
  line-height: 48px; }

#myHeader a.active--menu {
  position: relative; }
  #myHeader a.active--menu::after {
    content: "";
    position: absolute;
    bottom: -4px;
    margin-left: -4px;
    left: 25%;
    pointer-events: none;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #b61984;
    transition: all 0.3s ease; }
  #myHeader a.active--menu:hover::after {
    transform: scale(1.5); }

.about {
  padding-top: 60px;
  position: relative;
  padding-bottom: 4em; }
  .about h2 {
    color: #b61984;
    font-size: 1.1rem;
    font-weight: 600; }
  .about h1 {
    color: #191919;
    font-size: 3.8rem;
    font-weight: 700; }
  .about .bg__about__bottom {
    position: absolute;
    bottom: 0; }

.team {
  position: relative;
  background-color: #dcd1f3;
  z-index: 1; }
  .team .row {
    padding-top: 2em; }
    .team .row .col-3 {
      padding-left: 20px;
      padding-right: 20px; }
  .team .card {
    border-radius: 10px; }
    .team .card .card-image {
      overflow: hidden;
      background-color: transparent; }
    .team .card img {
      transition: all 1s ease; }
    .team .card img:hover {
      transform: scale(1.05); }
  .team .team__content {
    z-index: 2;
    text-align: center;
    transition: all 0.3s ease; }
    .team .team__content h5 {
      color: #b61984;
      font-size: 0.75rem;
      font-weight: 600;
      margin-top: 10px;
      margin-bottom: 0.7em; }
    .team .team__content h3 {
      color: #191919;
      font-size: 1.55rem;
      font-weight: 700;
      margin-bottom: 1em; }
    .team .team__content p {
      color: #181818;
      font-size: 15px;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      line-height: 1.8em; }
    .team .team__content:hover {
      box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2); }
  .team .bg__team__bottom {
    position: absolute;
    bottom: 0;
    z-index: -1; }

.contact {
  padding-top: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact .contact__inner {
    z-index: 3;
    width: 1000px;
    max-width: calc(100% + 40px); }
  .contact .contact__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -20px; }
  .contact .contact__left {
    width: 58.33%; }
  .contact .contact__right {
    width: 41.67%; }
  .contact .contact__left,
  .contact .contact__right,
  .contact .contact__img {
    padding: 0 20px; }
  .contact .contact__img {
    margin-top: 4em;
    margin-bottom: 2em; }
  .contact .contact__form {
    padding: 40px 25px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2); }
    .contact .contact__form h4 {
      color: #191919;
      font-size: 2.5rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 50px; }
  .contact .contact__row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em; }
    .contact .contact__row .contact__name,
    .contact .contact__row .contact__email {
      flex: 1 0 50%;
      max-width: 50%; }
      .contact .contact__row .contact__name input,
      .contact .contact__row .contact__email input {
        width: 100%; }
    .contact .contact__row .contact__name {
      padding-right: 1em; }
    .contact .contact__row .contact__mess,
    .contact .contact__row .contact__course {
      flex: 1 0 100%;
      max-width: 100%; }
      .contact .contact__row .contact__mess textarea,
      .contact .contact__row .contact__mess select,
      .contact .contact__row .contact__course textarea,
      .contact .contact__row .contact__course select {
        width: 100%; }
    .contact .contact__row .contact__name,
    .contact .contact__row .contact__email,
    .contact .contact__row .contact__mess,
    .contact .contact__row .contact__course {
      position: relative; }
      .contact .contact__row .contact__name input,
      .contact .contact__row .contact__name select,
      .contact .contact__row .contact__email input,
      .contact .contact__row .contact__email select,
      .contact .contact__row .contact__mess input,
      .contact .contact__row .contact__mess select,
      .contact .contact__row .contact__course input,
      .contact .contact__row .contact__course select {
        border-radius: 50px; }
      .contact .contact__row .contact__name textarea,
      .contact .contact__row .contact__email textarea,
      .contact .contact__row .contact__mess textarea,
      .contact .contact__row .contact__course textarea {
        border-radius: 20px; }
      .contact .contact__row .contact__name input,
      .contact .contact__row .contact__name select,
      .contact .contact__row .contact__name textarea,
      .contact .contact__row .contact__email input,
      .contact .contact__row .contact__email select,
      .contact .contact__row .contact__email textarea,
      .contact .contact__row .contact__mess input,
      .contact .contact__row .contact__mess select,
      .contact .contact__row .contact__mess textarea,
      .contact .contact__row .contact__course input,
      .contact .contact__row .contact__course select,
      .contact .contact__row .contact__course textarea {
        padding: 1em 1em 1em 3.5em;
        font-size: 0.8em;
        height: 3.7em;
        border: 1px solid rgba(0, 0, 0, 0.1); }
      .contact .contact__row .contact__name input,
      .contact .contact__row .contact__name textarea,
      .contact .contact__row .contact__name select,
      .contact .contact__row .contact__email input,
      .contact .contact__row .contact__email textarea,
      .contact .contact__row .contact__email select,
      .contact .contact__row .contact__mess input,
      .contact .contact__row .contact__mess textarea,
      .contact .contact__row .contact__mess select,
      .contact .contact__row .contact__course input,
      .contact .contact__row .contact__course textarea,
      .contact .contact__row .contact__course select {
        transition: all 0.5s ease; }
      .contact .contact__row .contact__name input:focus,
      .contact .contact__row .contact__name textarea:focus,
      .contact .contact__row .contact__name select:focus,
      .contact .contact__row .contact__email input:focus,
      .contact .contact__row .contact__email textarea:focus,
      .contact .contact__row .contact__email select:focus,
      .contact .contact__row .contact__mess input:focus,
      .contact .contact__row .contact__mess textarea:focus,
      .contact .contact__row .contact__mess select:focus,
      .contact .contact__row .contact__course input:focus,
      .contact .contact__row .contact__course textarea:focus,
      .contact .contact__row .contact__course select:focus {
        outline: none !important;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); }
      .contact .contact__row .contact__name textarea,
      .contact .contact__row .contact__email textarea,
      .contact .contact__row .contact__mess textarea,
      .contact .contact__row .contact__course textarea {
        height: 90px; }
    .contact .contact__row i {
      position: absolute;
      color: #b61984;
      top: 1em;
      left: 1em;
      line-height: 0.8; }
    .contact .contact__row .contact__mess i {
      line-height: 1.7; }
  .contact .contact__submit {
    max-width: 150px;
    padding: 2em 0; }
    .contact .contact__submit .btnTabula {
      width: 100%;
      color: #ffffff;
      font-size: 0.8em;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-top: 0.78em;
      padding-bottom: 0.78em;
      margin: 0; }
      .contact .contact__submit .btnTabula:hover {
        color: #b61984;
        font-size: 0.8em;
        font-weight: 600; }
  .contact .bg__contact__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }

footer {
  background-image: url("../../img/footer_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  footer .container {
    max-width: 1280px;
    padding-left: 0;
    padding-right: 0; }
  footer .row {
    margin-left: 0;
    margin-right: 0; }
  footer .col-3 {
    padding-left: 40px;
    padding-right: 40px; }
  footer .footer__inner {
    padding: 8em 0; }
  footer .footer__item header {
    margin-bottom: 2em; }
  footer .footer__item h5 {
    color: #ffffff;
    font-size: 1.55rem;
    font-weight: 700;
    margin: 0;
    line-height: 1.2; }
  footer .footer__item ul {
    margin-bottom: 0; }
  footer .footer__item li {
    font-family: "Roboto", sans-serif;
    padding-bottom: 1em; }
    footer .footer__item li span {
      display: flex;
      align-items: center; }
      footer .footer__item li span i {
        font-size: 0.9rem;
        width: 15px;
        height: 15px;
        line-height: 15px;
        color: #ffffff; }
      footer .footer__item li span span {
        padding-left: 0.8em;
        color: #ffffff;
        font-size: 0.9em;
        font-weight: normal;
        line-height: 1; }
  footer .footer__item a {
    color: #ffffff;
    font-size: 0.9em;
    font-weight: inherit; }
  footer .footer__social {
    padding-top: 0.7em;
    margin-bottom: 80px; }
  footer .footer__social a {
    color: #ffffff;
    padding-right: 1em; }
    footer .footer__social a i {
      font-size: 0.9rem;
      line-height: 1; }
  footer .header__email {
    margin-bottom: 45px; }
  footer input {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    width: 100%;
    background-color: transparent;
    padding: 1em;
    text-align: center;
    caret-color: #ffffff; }
  footer ::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 0.9em;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    text-align: center; }
  footer .btnTabula {
    margin: 0;
    width: 100%;
    padding: 0.8em 0;
    text-transform: uppercase;
    background-color: #ffffff;
    letter-spacing: 1px;
    border: 1px solid #ffffff;
    box-shadow: none;
    color: #181818;
    font-size: 0.8em;
    font-weight: 600; }
    footer .btnTabula::after {
      background-color: #b61984; }
    footer .btnTabula:hover {
      color: #ffffff;
      font-size: 0.8em;
      font-weight: 600; }

/*# sourceMappingURL=main.css.map */
