.about {
    padding-top: 60px;
    position: relative;

    h2 {
        @include styleText($color-purple-1, $fs-5, $fw-3);
    }

    h1 {
        @include styleText($color-black-2, $fs-8, $fw-4);
    }
    .bg__about__bottom {
        position: absolute;
        bottom: 0;
    }

    padding-bottom: $pd-3 + 2.5em;
}

/* ------------------------------- RESPONSIVE ------------------------------- */
@include respMaxWidth("large") {
    .about {
        padding-top: 110px;
        h2 {
            font-size: $fs-5 - 0.1;
        }
        h1 {
            font-size: $fs-7 + 0.65;
        }
    }
}

@include respMaxWidth("extra-small") {
    .about {
        h2 {
            font-size: $fs-4 + 0.05;
        }
        h1 {
            font-size: $fs-7;
        }
    }
}
